* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg1: #202020;
  --fg1: #ccc;
  --hover-color: #134b4d;
  --radius: 10px;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #272727;
  font-size: 16px;
  font-family: system-ui, sans-serif;
  color: var(--fg1);
}

body {
  max-width: 500px;
  width: 100%;
  padding-block: 1rem;
}

/*Cheap imitation of firefox's scrollbar on chromium*/
::-webkit-scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100svh;
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--fg1);
  border-radius: 20px;
  border: 2px solid var(--bg1);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--hover-color);
}

a {
  color: cyan;
}

.search_box {
  display: flex;
  background: var(--bg1);
  border-radius: var(--radius);

  height: 3.75rem;
}

.search_box :is(form, .input_box) {
  width: 100%;
  height: 100%;
}

.input_box {
  border: none;
  outline: none;
  background: none;

  color: #8fbcbb;
  font-size: 1.125rem;
  font-family: inherit;
  text-align: center;
}

.image {
  display: grid;
  place-items: center;
}

.bg {
  margin-block: 2.5rem;
  text-align: center;
}
.bg img {
  height: 270px;
  width: auto;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}

.buttons > li {
  flex-shrink: 0;
  flex-grow: 0;
  width: 3.75rem;
  height: 3.125rem;
  background-color: var(--bg1);
  border-radius: var(--radius);
  transition: transform 100ms ease;
}

.buttons > li:active {
  transform: translateY(6px);
}

.buttons > li > a {
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  padding: 0.5rem;
  display: block;
  transition: background-color 100ms ease;
}

.buttons > li a:is(:hover, :focus) {
  background-color: var(--hover-color);
}

.buttons img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dropdown {
  background: var(--bg1);
  padding: 1rem;
  border-radius: var(--radius);
  margin-block: 2rem;
}
.dropdown h2 {
  margin-block: 0.5em;
}
.dropdown h2:not(:first-of-type) {
  margin-top: 1em;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 200ms ease-out;
}
.content.scrollable {
  max-height: 200px;
}
.content.hidden {
  grid-template-rows: 0fr;
}
.content.scrollable > * {
  overflow: auto;
}
.content > *,
.content.scrollable.hidden > * {
  overflow: hidden;
}

.hide-button {
  width: 4ch;
  height: 4ch;
  background-image: url(img/hamburger.png);
  background-size: contain;
  cursor: pointer;
  display: block !important;
  transform: rotate(-90deg);
  transition: none 200ms ease-in;
  filter: brightness(0.5);
  transition-property: transform, filter;
}

.hide-button.hidden {
  transform: none;
  filter: none;
}

.links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
}

.links > li {
  min-height: 3rem;
  flex-basis: 40%;
  flex-grow: 1;
  flex-shrink: 0;
  border-radius: var(--radius);
  transition: transform 50ms ease;
  padding: 2px; /* Extra padding for the outline */
}

.links > li:active {
  transform: scale(0.95);
}

.links > li > a {
  background-color: #333;
  height: 100%;
  width: 100%;
  border-radius: var(--radius);
  padding: 0.3rem;
  display: grid;
  text-align: center;
  align-items: center;
  transition: background-color 100ms ease;
}

.links > li a:is(:hover, :focus) {
  background-color: var(--hover-color);
}

.links > li a img {
  margin: auto;
  height: 2.5rem;
  margin-bottom: 0.3rem;
}

.git-links > li > a::before {
  content: "";
  background-image: url(img/git.png);
  background-position: 50%;
  background-size: contain;
  height: 100%;
  background-repeat: no-repeat;
}
.git-links > li > a[href*="github"]::before {
  content: "";
  background-image: url(img/github.png);
}
.git-links > li > a[href*="gitlab"]::before {
  content: "";
  background-image: url(img/gitlab.png);
}

.git-links > li > a {
  grid-template-columns: 50px 1fr;
  word-wrap: break-word;
  justify-content: space-around;
}

.bookmarks h3 {
  padding-block: 1em;
}

.bookmarks hr {
  display: none;
}

.bookmarks a {
  display: block;
  width: 100%;
  height: 100%;
  padding-inline: 1em;
  margin-bottom: 1em;
}

.bookmarks a:hover {
  text-decoration: underline;
}
